<!-- AKTIVIDADE NEGOSIU -->
<table class="table table-sm">
  <tr class="bg-light">
    <th colspan="2">
      AKTIVIDADE NEGOSIU
      {% if group == 'KNI' %}
        <a href="{% url 'kni-business-add' benef.hashed %}"><i class="fa fa-edit"></i></a>
      {% endif %}
    </th>
  </tr>
  <tr class="bg-light"><th>NEGOSIU</th><th>SEITOR</th></tr>
  {% for b in businesses %}
    <tr><td>{{ b.name }}</td><td>{{ b.sector }}</td></tr>
  {% empty %}
    <tr><td colspan="2" class="text-muted">La iha dadus</td></tr>
  {% endfor %}
</table>

<hr>

<!-- PROGRAMA KNI -->
<table class="table table-sm">
  <tr class="bg-light">
    <th colspan="4">
      PROGRAMA KNI
      {% if group == "KNI" %}
        {% for b in businesses %}
          <a href="{% url 'kni-program-add' benef.hashed %}"><i class="fa fa-edit"></i></a>
        {% endfor %}
      {% endif %}
    </th>
  </tr>
  <tr class="bg-light">
    <th>PROGRAMA</th><th>TINAN</th><th>FAZE</th><th>FUNDUS APOIU</th>
  </tr>
  {% for p in programs %}
    <tr>
      <td>{{ p.program_type }}</td>
      <td>{{ p.year }}</td>
      <td>{{ p.faze }}</td>
      <td>${{ p.amount }}</td>
    </tr>
  {% empty %}
    <tr><td colspan="4" class="text-muted">La iha dadus</td></tr>
  {% endfor %}
  <tr class="font-weight-bold bg-light">
    <td colspan="3" class="text-center">TOTAL</td>
    <td>${{ total_amount }}</td>
  </tr>
</table>

<hr>

<!-- TRABALHADORES -->
<table class="table table-sm">
  <tr class="bg-light">
    <th colspan="4">
      TRABALHADORES
      {% if businesses %}
        {% if group == "KNI" %}
          <a href="{% url 'kni-employee-add' benef.hashed %}"><i class="fa fa-edit"></i></a>
        {% endif %}
      {% endif %}
    </th>
  </tr>
  <tr class="bg-light"><th>EMPREZA</th><th>MANE</th><th>FETO</th><th>TOTAL</th></tr>
  {% for k in employees %}
    <tr>
      <td>{{ k.business }}</td>
      <td>{{ k.male }}</td>
      <td>{{ k.female }}</td>
      <td>{{ k.total }}</td>
    </tr>
  {% empty %}
    <tr><td colspan="4" class="text-muted">La iha dadus</td></tr>
  {% endfor %}
</table>

<hr>

<!-- FINANCIAMENTO -->
<table class="table table-sm">
  <tr class="bg-light">
    <th colspan="2">
      FINANCIAMENTO
      {% if group == "KNI" %}
        {% for b in businesses %}
          <a href=""><i class="fa fa-edit"></i></a>
        {% endfor %}
      {% endif %}
    </th>
  </tr>
  <tr class="bg-light"><th>EMPREZA</th><th>TOTAL FINANSAS</th></tr>
  {% for k in finances %}
    <td><td>{{ k.business }}</td><td>${{ k.budget }}</td></tr>
  {% empty %}
    <tr><td colspan="2" class="text-muted">La iha dadus</td></tr>
  {% endfor %}
</table>