{% extends "base.html" %}
{% block content %}

<div class="container-fluid mt-2">
  <div class="row">
    <div class="col-sm-12">
      <div class="card shadow-lg pt-1 border-primary rounded">
        <div class="card-body">
            <!-- FILTER -->
            <form method="GET" class="form-inline mb-3">
              <select name="type" class="form-control mr-2">
                <option value="">Hotu</option>
                <option value="IN">Osan Tama</option>
                <option value="OUT">Osan Sai</option>
              </select>
              <button class="btn btn-primary btn-sm">Filter</button>
            </form>

            <table class="table table-bordered table-sm">
              <thead>
                <tr>
                  <th>Business</th>
                  <th>Type</th>
                  <th>Description</th>
                  <th>Amount</th>
                  <th>Date</th>
                  <th>Aksaun</th>
                </tr>
              </thead>

              <tbody>
                {% for c in cashflows %}
                <tr>
                  <td>{{ c.monitoring.business }}</td>
                  <td>
                    <span class="badge badge-warning">{{ c.transaction_type }}</span>
                  </td>
                  <td>{{ c.description }}</td>
                  <td>${{ c.amount }}</td>
                  <td>{{ c.transaction_date }}</td>
                  <td>
                    <a href="{% url 'cashflow-detail' c.id %}" class="btn btn-sm btn-info">Detail</a>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}