{% extends "main/layout.html" %}

{% block content %}
<div class="container-fluid mt-3">
  <div class="row">
    <div class="col-sm-12">
      <div class="card shadow-lg pt-1 border-primary rounded">

        <!-- HEADER -->
        <div class="card-header bg-steel d-flex justify-content-between align-items-center">
          <span>{{ legend|upper }}</span>
          <a href="{% url 'edit-benef-ks' benef.hashed %}" class="btn btn-sm btn-warning">
            <i class="fa fa-edit"></i> Edit
          </a>
        </div>

        <div class="card-body">

          <!-- TAB NAVIGATION -->
          <ul class="nav nav-tabs mb-3 d-flex justify-content-center" id="ksDetailTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="pessoal-tab" data-toggle="tab" href="#pessoal" role="tab">
                <i class="fa fa-user"></i> Pessoal
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="empresa-tab" data-toggle="tab" href="#empresa" role="tab">
                <i class="fa fa-building"></i> Empresa
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="programa-tab" data-toggle="tab" href="#programa" role="tab">
                <i class="fa fa-calendar"></i> Programa
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="produtu-tab" data-toggle="tab" href="#produtu" role="tab">
                <i class="fa fa-cubes"></i> Produtu
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="finansas-tab" data-toggle="tab" href="#finansas" role="tab">
                <i class="fa fa-dollar"></i> Finansas
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="kreditu-tab" data-toggle="tab" href="#kreditu" role="tab">
                <i class="fa fa-credit-card"></i> Kreditu
              </a>
            </li>
          </ul>

          <!-- TAB CONTENT -->
          <div class="tab-content">

            <!-- ========== TAB 1: PESSOAL ========== -->
            <div class="tab-pane fade show active" id="pessoal" role="tabpanel">
              <div class="row">
                <div class="col-md-6">
                  {% include 'suave/sides/tab_pessoal_left.html' %}
                </div>
                <div class="col-md-6">
                  {% include 'suave/sides/tab_pessoal_right.html' %}
                </div>
              </div>
            </div>

            <!-- ========== TAB 2: EMPRESA ========== -->
            <div class="tab-pane fade" id="empresa" role="tabpanel">
              {% include 'suave/sides/tab_empresa.html' %}
            </div>

            <!-- ========== TAB 3: PROGRAMA ========== -->
            <div class="tab-pane fade" id="programa" role="tabpanel">
              {% include 'suave/sides/tab_programa.html' %}
            </div>

            <!-- ========== TAB 4: PRODUTU & MERKADU ========== -->
            <div class="tab-pane fade" id="produtu" role="tabpanel">
              {% include 'suave/sides/tab_produtu_merkadu.html' %}
            </div>

            <!-- ========== TAB 5: FINANSAS ========== -->
            <div class="tab-pane fade" id="finansas" role="tabpanel">
              {% include 'suave/sides/tab_finansas.html' %}
            </div>

            <!-- ========== TAB 6: KREDITU ========== -->
            <div class="tab-pane fade" id="kreditu" role="tabpanel">
              {% include 'suave/sides/tab_kreditu.html' %}
            </div>

          </div>

        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}

{% block scripts %}
  {% include 'suave/sides/map_script.html' %}
{% endblock scripts %}