{% extends "main/layout.html" %}
{% block head %}{% endblock head %}
{% block content %}
<div class="container-fluid mt-3">
  <div class="row">
    <div class="col-sm-12">

      <!-- PROGRESS CARD -->
      <div class="card shadow-sm border-0 mb-3">
        <div class="card-header bg-primary text-white d-flex justify-content-between align-items-center">
          <span>{{ empresa.company_name|default:benef.name }} &mdash; MPMS DASHBOARD</span>
          {% if group == 'mpms' %}
            <a href="{% url 'edit-benef-mpms' benef.hashed %}" class="btn btn-sm btn-warning">
              <i class="fa fa-edit"></i> Edit
            </a>
          {% endif %}
        </div>
        <div class="card-body">
          <h6>Progress Data Kompletu</h6>
          <div class="progress" style="height:25px;">
            <div class="progress-bar bg-success" role="progressbar" style="width:{{ progress }}%">
              {{ progress }}%
            </div>
          </div>
          {% if empresa.is_completed %}
            <div class="alert alert-success mt-2 mb-0">
              <i class="fa fa-check-circle"></i> Data kompletu
            </div>
          {% endif %}
        </div>
      </div>

      <!-- MAIN CARD WITH TABS -->
      <div class="card shadow-lg border-primary rounded">
        <div class="card-header bg-steel">
          {{ legend|upper }}
        </div>
        <div class="card-body">

          <!-- TAB NAVIGATION -->
          <ul class="nav nav-tabs mb-3" id="mpmsDetailTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="pessoal-tab" data-toggle="tab" href="#pessoal" role="tab">
                <i class="fa fa-user"></i> Pessoal
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="negosiu-tab" data-toggle="tab" href="#negosiu" role="tab">
                <i class="fa fa-building"></i> Negosiu
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="programa-tab" data-toggle="tab" href="#programa" role="tab">
                <i class="fa fa-calendar"></i> Programa
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="finansas-tab" data-toggle="tab" href="#finansas" role="tab">
                <i class="fa fa-dollar"></i> Finansas
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="legal-tab" data-toggle="tab" href="#legal" role="tab">
                <i class="fa fa-gavel"></i> Legal
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="empresa-tab" data-toggle="tab" href="#empresa" role="tab">
                <i class="fa fa-industry"></i> Empresa
              </a>
            </li>
          </ul>

          <!-- TAB CONTENT -->
          <div class="tab-content">

            <!-- ========== TAB 1: PESSOAL ========== -->
            <div class="tab-pane fade show active" id="pessoal" role="tabpanel">
              <div class="row">
                <div class="col-md-6">
                  {% include 'mssides_D/tab_pessoal_left.html' %}
                </div>
                <div class="col-md-6">
                  {% include 'mssides_D/tab_pessoal_right.html' %}
                </div>
              </div>
            </div>

            <!-- ========== TAB 2: NEGOSIU ========== -->
            <div class="tab-pane fade" id="negosiu" role="tabpanel">
              {% include 'mssides_D/tab_negosiu.html' %}
            </div>

            <!-- ========== TAB 3: PROGRAMA ========== -->
            <div class="tab-pane fade" id="programa" role="tabpanel">
              {% include 'mssides_D/tab_programa.html' %}
            </div>

            <!-- ========== TAB 4: FINANSAS ========== -->
            <div class="tab-pane fade" id="finansas" role="tabpanel">
              {% include 'mssides_D/tab_finansas.html' %}
            </div>

            <!-- ========== TAB 5: LEGAL ========== -->
            <div class="tab-pane fade" id="legal" role="tabpanel">
              {% include 'mssides_D/tab_legal.html' %}
            </div>

            <!-- ========== TAB 6: EMPRESA ========== -->
            <div class="tab-pane fade" id="empresa" role="tabpanel">
              {% include 'mssides_D/tab_empresa.html' %}
            </div>

          </div>

        </div>
      </div>

    </div>
  </div>
</div>
{% endblock content %}
{% block scripts %}
  {% include 'mssides_D/map_script.html' %}
{% endblock scripts %}