{% load static %}
<div class="side-navbar-wrapper">
    <!-- Sidebar Header    -->
    <div class="sidenav-header d-flex align-items-center justify-content-center">
      <!-- User Info-->
      <div class="sidenav-header-inner text-center">
        <h2 class="h5">MCI-GDGI</h2><span>{% if group == "KS" %} KREDITU SUAVE 
          {% else %} {{ group|upper }} {% endif %}</span>
      </div>
      <!-- Small Brand information, appears on minimized sidebar-->
      <div class="sidenav-header-logo"><a href="{% url 'home' %}" class="brand-small text-center"> <strong>GD</strong><strong class="text-primary">GI</strong></a></div>
    </div>
    <!-- Sidebar Navigation Menus-->
    {% if user.is_authenticated %}
      {% if user.groups.all.0.name == 'admin' %}
        {% include 'main/sidenavs/admin.html' %}
      {% elif user.groups.all.0.name == 'staff' %}
        {% include 'main/sidenavs/s_staff.html' %}
      {% elif user.groups.all.0.name == 'KS' %}
        {% include 'main/sidenavs/ks.html' %}
      {% elif user.groups.all.0.name == 'KNI' %}
        {% include 'main/sidenavs/kni.html' %}
      {% elif user.groups.all.0.name == 'dnim' %}
        {% include 'main/sidenavs/dnim.html' %}
      {% elif user.groups.all.0.name == 'XFD' %}
        {% include 'main/sidenavs/XFD.html' %}
      {% elif user.groups.all.0.name == 'mpms' %}
        {% include 'main/sidenavs/mpms.html' %}
      {% elif user.groups.all.0.name == 'DNDI' %}
        {% include 'main/sidenavs/dndi.html' %}
      {% else %}
        {% include 'main/sidenavs/cliente.html' %}
      {% endif %}
      <!-- ACCOUNT -->
      <div class="admin-menu">

    <h5 class="sidenav-heading">
        Konta - Perfil
    </h5>
    <ul class="side-menu list-unstyled">
        {% if request.user.groups.all.0.name == 'Cliente' %}
        {% else %}
        <li>
            <a href="{% url 'UserProfile' %}">
                <i class="icon-user"></i>
                konta
            </a>
        </li>
        {% endif %}
        <li>
            <a href="{% url 'logout' %}">
               <i class="fa fa-sign-out"></i>
                Logout
            </a>
        </li>
    </ul>

</div>
    {% endif %}
  </div>