<!-- TRABALHADORES -->
<table class="table table-sm">
  <tr class="bg-light">
    <th colspan="4">
      TRABALHADORES
      {% if group == 'dnim' and businesses %}
        <a href="{% url 'dn-emp' benef.hashed %}" class="btn btn-xs btn-success ml-1">
          <i class="fa fa-plus"></i>
        </a>
      {% endif %}
    </th>
  </tr>
  <tr class="bg-light"><th>EMPREZA</th><th>MANE</th><th>FETO</th><th>TOTAL</th></tr>
  {% for k in employees %}
    <tr>
      <td>{{ k.business }}</td>
      <td>{{ k.male }}</td>
      <td>{{ k.female }}</td>
      <td>{{ k.total }}</td>
    </tr>
  {% empty %}
    <tr><td colspan="4" class="text-muted">La iha dadus</td></tr>
  {% endfor %}
</table>

<hr>

<!-- FINANSIAMENTO -->
<table class="table table-sm">
  <tr class="bg-light">
    <th colspan="2">
      FINANSIAMENTO
    </th>
  </tr>
  <tr class="bg-light"><th>EMPREZA</th><th>TOTAL FINANSAS</th></tr>
  {% for k in finances %}
    <tr><td>{{ k.business }}</td><td>{{ k.budget }}</td></tr>
  {% empty %}
    <tr><td colspan="2" class="text-muted">La iha dadus</td></tr>
  {% endfor %}
</table>