<div class="main-menu">

    <h5 class="sidenav-heading">Main</h5>

    <ul class="side-menu list-unstyled">

        <!-- DASHBOARD -->
        <li>
            <a href="{% url 'home' %}">
                <i class="icon-home"></i> Dashboard
            </a>
        </li>
        <!-- PROGRAMA -->
        <li>
            <a href="#programaMenu"
               data-toggle="collapse"
               aria-expanded="false">

                <i class="icon-list"></i>
                Programa
            </a>

            <ul id="programaMenu"
                class="collapse list-unstyled">

                <li><a href="">KNI</a></li>

                <li><a href="">Kreditu Suave</a></li>

                <li><a href="">Manufatura</a></li>

            </ul>
        </li>

        <!-- AVALIASAUN -->
        <li>
            <a href="#assessmentMenu"
               data-toggle="collapse"
               aria-expanded="false">

                <i class="icon-bars"></i>
                Avaliasaun
            </a>

            <ul id="assessmentMenu"
                class="collapse list-unstyled">

                <li>
                    <a href="">
                        Avaliasaun Merkadu
                    </a>
                </li>

                <li>
                    <a href="">
                        Avaliasaun Finanseiru
                    </a>
                </li>

                <li>
                    <a href="">
                        Informasaun Kreditu
                    </a>
                </li>

            </ul>
        </li>

        <!-- RELATORIU -->
        <li>
            <a href="#relatoriu"
               data-toggle="collapse"
               aria-expanded="false">

                <i class="icon-bill"></i>
                Relatóriu
            </a>

            <ul id="relatoriu"
                class="collapse list-unstyled">

                <li>
                    <a href="">
                        Relatóriu Benefisiariu
                    </a>
                </li>

                <li>
                    <a href="">
                        Relatóriu KNI
                    </a>
                </li>

                <li>
                    <a href="">
                        Relatóriu Kreditu
                    </a>
                </li>

                <li>
                    <a href="">
                        Relatóriu Manufatura
                    </a>
                </li>

            </ul>
        </li>

        <!-- MASTER DATA -->
        <li>
            <a href="#masterDataMenu"
               data-toggle="collapse"
               aria-expanded="false">

                <i class="icon-padnote"></i>
                Master Data
            </a>

            <ul id="masterDataMenu"
                class="collapse list-unstyled">

                <li><a href="">Status</a></li>

                <li><a href="">Sector</a></li>

                <li><a href="">Tipu Apoiu</a></li>

                <li><a href="">Year</a></li>

                <li><a href="">Faze</a></li>

            </ul>
        </li>

    </ul>

</div>

<!-- ACCOUNT -->
<div class="admin-menu">

    <h5 class="sidenav-heading">
        Konta - Perfil
    </h5>

    <ul class="side-menu list-unstyled">

        <li>
            <a href="">
                <i class="icon-user"></i>
                Perfil
            </a>
        </li>

        <li>
            <a href="">
                <i class="icon-settings"></i>
                Konta
            </a>
        </li>

        <li>
            <a href="">
                <i class="icon-logout"></i>
                Logout
            </a>
        </li>

    </ul>

</div>