<div class="main-menu">
    <h5 class="sidenav-heading">Main</h5>
    <ul id="side-main-menu" class="side-menu list-unstyled">
      <li><a href="{% url 'home' %}"> <i class="icon-home"></i>Home</a></li>
      <li>
        <a href="#masterDataMenu1" data-toggle="collapse" aria-expanded="false">
          <i class="icon-list"></i> Benefisiariu
        </a>
        <ul id="masterDataMenu1" class="collapse list-unstyled">
          <li><a href="{% url 'dash-mpms' %}">MPMS</a></li>
        </ul>
      </li>
      <li><a href="{% url 'sum-gr' %}"><i class="icon-bill"></i> Relatoriu</a></li>
    </ul>
</div>

