<div class="main-menu">
    <h5 class="sidenav-heading">Main</h5>
    <ul id="side-main-menu" class="side-menu list-unstyled">

      <li><a href="{% url 'home' %}"> <i class="icon-home"></i>Home</a></li>
      
      <li>
        <a href="#masterDataMenu1" data-toggle="collapse" aria-expanded="false">
          <i class="icon-list"></i> Benefisiariu
        </a>
        <ul id="masterDataMenu1" class="collapse list-unstyled">
          <li><a href="">KNI</a></li>
          <li><a href="">Kreditu Suave</a></li>
          <li><a href="">Manufatura</a></li>
        </ul>
      </li>
      <li>
        <a href="#relatoriu" data-toggle="collapse" aria-expanded="false">
          <i class="icon-bill"></i> Relatoriu
        </a>
        <ul id="relatoriu" class="collapse list-unstyled">
          <!-- Programa -->
          <li class="sidenav-heading" style="font-size:11px; padding:6px 16px; color:#aaa;">PROGRAMA</li>
          <li><a href="">Relatóriu Kreditu</a></li>
          <li><a href="">Relatóriu Manufatura</a></li>
          <li><a href="">Relatóriu KNI</a></li>

          <!-- Auditoria (admin only) -->
          {% if group == "admin" %}
          <li class="sidenav-heading" style="font-size:11px; padding:6px 16px; color:#aaa;">AUDITORIA</li>
          <li><a href="">Log Aktividade</a></li>
          {% endif %}

        </ul>
      </li>
      <li>
        <a href="#masterDataMenu" data-toggle="collapse" aria-expanded="false">
          <i class="icon-list"></i> Master Data
        </a>
        <ul id="masterDataMenu" class="collapse list-unstyled">
          <li><a href="">Utilizadores</a></li>
        </ul>
      </li>
    </ul>
</div>

